* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

body {
   height: 100vh;
   max-height: 100vh;
   width: 100vw;
   max-width: 100vw;
   overflow: hidden;
}

a {
   text-decoration: none;
   color: inherit;
}

li {
   list-style: none;
}

button {
   cursor: pointer;
   border: 0;
   background-color: inherit;
}

input {
   border: 0;
}

.relative {
   position: relative
}

.absolute {
   position: absolute
}

.flex {
   display: flex;
}

.block {
   display: block;
}

.hide {
   display: none;
}

.h100 {
   height: 100%;
}

.w100 {
   width: 100%;
}

.card {
   border-radius: 7px;
   background-color: ehite;
   box-shadow: rgba(15,15,15,.05) 0px 0px 0px 1px, rgba(15,15,15,.1) 0px 5px 10px, rgba(15,15,15,.2) 0px 15px 40px;
}